* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: url('./images/backgroundImage1.jpeg');
    background-size: cover;
}

#wrapper {
     background-color: white;
}

hr {
    height: 1px;
    border: none;
    color: #b4272f;
    background-color: #b4272f;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    width: 50vw;
    height: auto;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    font-weight: lighter;
    color: #b4272f;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

header {
    text-align: center;
}

#date {
    color: gray;
}

nav {
    text-align: center;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    text-transform: uppercase;
}

nav > a,:visited,:focus {
    padding: 0px 5px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav > a:hover {
    font-weight: bold;
    color: #b4272f;
}

nav > a::after {
    display: inline-block;
    content: " ";
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#logo {
    object-fit: contain;
}

main {
    
}

main > section {
    padding: 0 3vw;
    width: calc(100%-6vw);
    display: flex;
    flex-direction: column;
}

main > section > * {
    padding: 15px 3vw;
}

main > section > iframe {
    margin: 10px auto;
    width: calc(100% - 6vw);
    height: 27vw;
}

/* Ablauf */

#tableWrapper {
    overflow-x: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

table {
    width: 100%;
    text-align: center;
    vertical-align: top;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

tbody th {
    font-weight: lighter;
    border-bottom: 2px solid #d4d6d4;
    text-align: right;
}

td {
    font-weight: lighter;
    color: white;
    background-color: #39546b;
    padding: 2px;
}

td:empty {
    background-color: transparent;
}

td.light-blue {
    background-color: #39546b;
}

td.dark-blue {
    background-color: #0a2040;
}

td.light-gray {
    background-color: #d4d6d4;
    color: #0a2040;
}

td.gray {
    background-color: #a8a9aa;
}

td.dark-gray {
    background-color: #878a8d;
    background-image: linear-gradient(to bottom, #878a8d, white);
}

td.red {
    background-color: #ed1e25;
}

td.mix_light-blue_red {
    background-image: linear-gradient(to bottom, #ed1e25, #39546b 40%);
}

/* Excursions */
.excursions {
    display: grid;
    grid-gap: 1vmin;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
}

.excursions > h4 {
    grid-column-start: 1;
    grid-column-end: -1;
}

.excursions > article {
    display: grid;
    grid-gap: 1vmin;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;

    border: 1px solid #b4272f;
    padding: 1vmin;
}

.excursions > article > h5 {
    grid-column: span 2;
}

.excursions > article > img {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    margin: 2vmin;
    height: 20vw;
    width: auto;
}

.excursions > article > .description {
    grid-column: span 2;
    text-align: justify;
}

.excursions > article > .copyright {
    grid-column: span 2;
    line-height: 1rem;
    font-size: 0.8rem;
}

.sponsoring-logos {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(auto-fit, 5vmax);
    grid-template-rows: repeat(auto-fit, 5vmax);
    --aspect-width: 1;
    --aspect-height: 1
    object-fit: cover;
    object-position: bottom center;
}

.sponsoring-logos::before {
    /* Fix to square up the grid cells */
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

.sponsoring-logos > * {
    justify-self: center;
    align-self: center;
    width: 100%;
    min-width: 5vmax;
    height: auto;
    min-height: 5vmax;
    grid-column: span var(--aspect-width, 1);
    grid-row: span var(--aspect-height, 1);
}

footer {
    text-align: center;
    padding: 1em;
}

/* Media queries */
@media (min-width: 600px) {
    #wrapper {
        width: 60vw;
        margin: 10vw auto;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

    .excursions > article {
        display: grid;
        grid-gap: 1vw;
        grid-template-columns: 12vw 1fr;
        grid-auto-columns: 12vw 1fr;
        grid-template-rows: auto 1fr;
        grid-auto-rows: auto 1fr;
    
        border: 1px solid #b4272f;
        padding: 1vmin;
    }

    .excursions > article > h5 {
        height: 2rem;
    }

    .excursions > article > img {
        width: auto;
        height: 10vh;
        grid-column: span 2;
    }
    
    .excursions > article > .description {
        grid-column: span 2;
        text-align: initial;
    }
    
    .excursions > article > .copyright {
        grid-column: span 2;
        text-align: initial;
        font-size: 0.8rem;
    }
}

@media (min-width: 1500px) {
    .excursions {
        display: grid;
        grid-gap: 2vmin;
        grid-auto-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .excursions > article > img {
        width: auto;
        max-height: 10vw;
        object-fit: contain;
        object-position: center center;
        grid-column: span 2;
    }
    
    .excursions > article > .description {
        grid-column: span 2;
        text-align: initial;
    }

    .excursions > article > .copyright {
        grid-column: span 2;
        text-align: initial;
        font-size: 0.8rem;
    }
}